.item-container {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 0;
    color: var(--text-dark);
    width: 100%;

    &:hover {
        background-color: white;
    }

    .live-game {
        justify-self: flex-end;
        @media screen and (max-width: 650px) {
            justify-self: center;
        }

        .live-status {
            display: flex;
            align-items: center;
            .live-icon {
                position: relative;
                height: 14px;
                width: 14px;
                margin-right: 10px;
                border-radius: 1000px;
                background-color: var(--secondary);
                //box-shadow: 0px 0px 6px 3px rgba(223, 73, 73, .7);

                &::before {
                    content: "";
                    background: var(--secondary);
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    height: 14px;
                    width: 14px;
                    transition: opacity 75ms linear, background-color 100ms linear;
                    animation: pulse 1.2s infinite;
                  }
            }

            p {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    .week {
        margin: 5px 0;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .date {
        margin: 0;
    }

    .channel {
        margin-top: 5px;
        font-weight: 600;
    }

    .score-grid {
        margin: 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;

        .home-desc, .away-desc {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-self: flex-start;
            align-items: center;
            margin: 0;

            &:focus {
                outline: none;
            }

            @media screen and (max-width: 650px) {
                justify-self: center;
            }

            .team-name {
                margin: 0 5px;
                font-size: 1.2rem;
            }
        }

        .away-desc {
            justify-self: flex-end;

            @media screen and (max-width: 650px) {
                justify-self: center;
            }
        }

        .scores-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .at-symbol {
                margin: 0 10px;
            }

            .team-score {
                margin: 0;
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }

    .divider {
        margin: 0 auto;
        height: 2px;
        width: 70%;
        background-color: var(--text-dark);
    }
}
.team-logo {
    height: 50px;
}

.losing-score {
    color: var(--text-light);
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.winning-score {
    color: var(--text-dark);
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.game-status {
    font-weight: 700;
    margin: 0 0 25px 0;
}

@media screen and (max-width: 650px) {

    .team-logo {
        height: 40px;
    }
}

@keyframes pulse {
    0% {
      transform: scale(0.95);
      opacity: 0.9;
    }

    100% {
      transform: scale(1.4);
      opacity: 0;
    }
}
@-moz-keyframes pulse {
    0% {
      transform: scale(0.95);
      opacity: 0.9;
    }

    100% {
      transform: scale(1.4);
      opacity: 0;
    }
}
@-webkit-keyframes pulse {
    0% {
      transform: scale(0.95);
      opacity: 0.9;
    }

    100% {
      transform: scale(1.4);
      opacity: 0;
    }
}