<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push" [(opened)]="opened">
    <div class='sidenav-container'>
      <div class="close" (click)='sidenav.close()'></div>
      <br />
      <br />
      
      <div class='sidenav-link .top-link'>
        <p routerLink='/' (click)="sidenav.close()">home</p>
      </div>

      <div class="sidenav-link border-t">
        <p routerLink='/scores' (click)="sidenav.close()">scores</p>
      </div>

      <div class="sidenav-link border-t-b">
        <p routerLink='/standings' (click)="sidenav.close()">standings</p>
      </div>

      <div class="sidenav-link expand" (click)="teamsExpand = !teamsExpand">
        <p>teams</p>

        <i *ngIf="teamsExpand; else notExpand" class="material-icons">
          keyboard_arrow_down
        </i>

        <ng-template #notExpand>
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </ng-template>
      </div>

      <ng-container *ngIf="teamsExpand">
        <div 
          class="expanded-link" 
          *ngFor="let t of teams" 
          [routerLink]="['/team', lowercaseNoSpace(t.name)]"
          (click)="sidenav.close()"
        >
          <img src="assets/images/logos/teams/dark/{{t.abbr}}.svg" alt="{{t.name}}"/>
          <p class="teamname">{{t.name}}</p>
        </div>
      </ng-container>
     

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class='nav-bar'>
      <div class='nav-logo'>
        <p routerLink="/">NFL SIMPLIFIED</p>
      </div>
      <div class="nav-burger" (click)="sidenav.open()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>