.card-grid {
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.card-grid-single {
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

h1 {
    color: #1D1F24;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}