<div class='standing-card'>
    <p class='title'>{{ title }}</p>
    <div [ngClass]="title.split('')[0] === 'A' ? 'afc-stripe' : 'nfc-stripe'"></div>
    <div class='team-grid'>
        <p id="t-name"></p>
        <p class='grid-label'>W</p>
        <p class='grid-label'>L</p>
        <p class='grid-label'>T</p>
        <p class='grid-label'>DIV</p>
        <p class='grid-label'>CONF</p>

        <ng-container *ngFor="let t of teams">
            <p (click)="teamPageWithData(t.TeamID)" class="text-bold point">{{getTeam(t.TeamID).name}}</p>
            <p class='text-bold grid-data'>{{t.Wins}}</p>
            <p class='text-bold grid-data'>{{t.Losses}}</p>
            <p class='text-bold grid-data'>{{t.Ties}}</p>
            <p class='text-bold grid-data'>{{ winLossTie(t.DivisionWins, t.DivisionLosses, t.DivisionTies)}}</p>
            <p class='text-bold grid-data'>{{ winLossTie(t.ConferenceWins, t.ConferenceLosses, t.ConferenceTies)}}</p>
        </ng-container>
    </div>
</div>