
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nfl-simplified-primary: mat-palette($mat-indigo);
$nfl-simplified-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nfl-simplified-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$nfl-simplified-theme: mat-light-theme($nfl-simplified-primary, $nfl-simplified-accent, $nfl-simplified-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nfl-simplified-theme);

:root {
    --primary: #2D3142;
    --secondary: #DF4949;

    --primary-light: #2373BC;
    --secondary-light: #F86969;
    --background: #F5F3EE;
    --text-light: #ADA9A9;
    --text-dark: #403737;
}

body, html {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
    background-color: var(--background);
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1400px;
}

.page-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark)
}

.outline-btn {
    background-color: var(--background);
    color: var(--text-dark);
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid var(--text-dark);
    cursor: pointer;
    
    &:hover {
        border: 2px solid var(--text-dark);
    }

    &:focus {
        outline: none;
    }
}

.card {
    background-color: var(--background);
    border-radius: 3px;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 4px 3px 8px 0px rgba(153,153,153,1);

    .card-title {
        font-family: 'Roboto Slab', serif;
        font-size: 2.5rem;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
        color: var(--text-dark);
    }

    .afc-stripe {
        height: 2px;
        width: 100%;
        background-color: var(--secondary);
    }

    .nfc-stripe {
        height: 2px;
        width: 100%;
        background-color: var(--primary-light);
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .container {
        width: 99%;
        overflow: hidden;
    }

    .card {
        padding: 10px 5px;
    }
  }

