<ng-container *ngIf="loading">
    <app-loading></app-loading>
</ng-container>

<div class="container">
    <ng-container *ngIf="teamData">
    <div class="team-header">

        <img src="assets/images/logos/teams/dark/{{teamData.abbr}}.svg" alt="{{teamData.abbr}}" />

        <p class="team-title">
            {{teamData.fullName}}
        </p>

        <p class='team-established'>Est. {{teamData.yearFound}}</p>

        <div class="team-details-container">
            <p> 
                <i class="material-icons">
                    face
                </i> 
                <ng-container *ngIf="coach">
                    {{coach.displayName}}
                </ng-container>
                
            </p>
            <p>
                <i class="material-icons">
                    home
                </i>
                {{teamData.stadiumName}}
            </p>
        </div>
    </div>

    <div class="card-grid">
        <div class="card">
            <div class="schedule-title">
                <p class="year">{{teamData.season}}</p>
                <p class="schedule">Schedule</p>
                <p class="wl-title">W-L-T</p>
                <p class="win-loss-record">{{winLossRecord}}</p>
            </div>

            <ng-container *ngIf="teamData && teamData.abbr">
                <div [ngClass]="teamData.conferenceAbbr.split('')[0] === 'A' ? 'afc-stripe' : 'nfc-stripe'"></div>
            </ng-container>

            <ng-container *ngIf="schedule && schedule.length >= 1">
                <app-schedule-item *ngFor="let data of schedule"
                    [game]="data"
                    [teams]="data.gameSchedule"
                    [scores]="data.score"
                >    
                </app-schedule-item>
            </ng-container>
        </div>
    </div>
    </ng-container>
</div>