<div class="container">
    <div class="team-header">

        <ng-container *ngIf="teamData.abbr">
            <img src="assets/images/logos/teams/dark/{{teamData.abbr}}.svg" alt="{{teamData.abbr}}" />
        </ng-container>

        <p class="team-title">
            {{teamData.fullName}}
        </p>

        <p class='team-established'>Est. {{teamData.yearFound}}</p>

        <div class="team-details-container">
            <p> 
                <i class="material-icons">
                    face
                </i> 
                {{coach.displayName}}
            </p>
            <p>
                <i class="material-icons">
                    home
                </i>
                {{teamData.stadiumName}}
            </p>
        </div>
    </div>

    <div class="card-grid">
        <div class="card">
            <div class="schedule-title">
                <p class="year">{{teamData.season}}</p>
                <p class="schedule">Schedule</p>
            </div>

            <ng-container *ngIf="teamData.abbr">
                <div [ngClass]="teamData.conferenceAbbr.split('')[0] === 'A' ? 'afc-stripe' : 'nfc-stripe'"></div>
            </ng-container>

            <ng-container *ngIf="schedule.length >= 1">
                <app-schedule-item *ngFor="let data of schedule"
                    [game]="data"
                    [teams]="data.gameSchedule"
                    [scores]="data.score"
                >    
                </app-schedule-item>
            </ng-container>
        </div>
    </div>
    
</div>